# Environments
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

# Uploads and temporary files
uploads/
signed_docs/
registros_permisos.csv
*.pdf
!Solicitud Permiso.pdf
!Solicitud Permiso Definitivo.pdf
!Solicitud Permiso Definitivo+etiquetas.pdf
!justificacionfaltasprofesores.pdf

# IDEs and OS
.vscode/
.idea/
.DS_Store
# Documentation artifacts
docs/

# Persistence and Logs
autofirma.log
temp_storage/
static/signed/
